<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension  point="org.eclipse.ui.editors.templates">
    <template id="org.jboss.tools.m2e.wro4j.templates.plugin.wro4j"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.plugins"
         name="wro4j plugin" 
         description="WRO4J Resource Optimizer plugin configuration">
      <pattern>        &lt;plugin&gt;
        &lt;groupId&gt;ro.isdc.wro4j&lt;/groupId&gt;
        &lt;artifactId&gt;wro4j-maven-plugin&lt;/artifactId&gt;
        &lt;version&gt;1.4.9&lt;/version&gt;
        &lt;executions&gt;
            &lt;execution&gt;
               &lt;phase&gt;compile&lt;/phase&gt;
               &lt;goals&gt;
                   &lt;goal&gt;run&lt;/goal&gt;
               &lt;/goals&gt;
            &lt;/execution&gt;
        &lt;/executions&gt;
          &lt;configuration&gt;
            &lt;jsDestinationFolder&gt;$${project.build.directory}/$${project.build.finalName}/${cursor}resources/js&lt;/jsDestinationFolder&gt;
            &lt;cssDestinationFolder&gt;$${project.build.directory}/$${project.build.finalName}/resources/styles&lt;/cssDestinationFolder&gt;
          &lt;/configuration&gt;
        &lt;/plugin&gt;</pattern>
    </template>
  </extension> 
</plugin>
